.container {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend .container-fluid;

  width: 100%;
  max-width: 1240px;

  &-fluid {
    padding-inline: 40px;
    margin: auto;

    @include b-d(lg) {
      padding-inline: 32px;
    }

    @include b-d(md) {
      padding-inline: 20px;
    }
  }
}
