@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import 'settings';

@mixin b-up($name) {
  @include media-breakpoint-up($name) {
    @content;
  }
}

@mixin b-d($name) {
  @include media-breakpoint-down($name) {
    @content;
  }
}

@mixin b-btw($lower, $upper) {
  @include media-breakpoint-between($lower, $upper) {
    @content;
  }
}

@mixin b-o($name) {
  @include media-breakpoint-only($name) {
    @content;
  }
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return divide($number, ($number * 0 + 1));
  }

  @return $number;
}

@function clamp-builder(
  $lower,
  $upper,
  $min-size,
  $max-size,
  $breakpoints: $grid-breakpoints
) {
  $min-size: strip-unit($min-size);
  $max-size: strip-unit($max-size);
  $min-width: strip-unit(map-get($breakpoints, $lower));
  $max-width: strip-unit(map-get($breakpoints, $upper) - 0.02);
  $slope: calc(($max-size - $min-size) / ($max-width - $min-width));
  $y-axis-intersection: -$min-width * $slope + $min-size;

  @if $max-size >= $min-size {
    @return clamp(
      #{$min-size}px,
      #{$y-axis-intersection}px + #{$slope * 100}vw,
      #{$max-size}px
    );
  } @else {
    @return clamp(
      #{$max-size}px,
      #{$y-axis-intersection}px + #{$slope * 100}vw,
      #{$min-size}px
    );
  }
}
